<div ng-controller="NavBarLayoutCtrl">
  <md-toolbar md-scroll-shrink ng-if="true">
  <div class="md-toolbar-tools">
    <md-button ng-click="toggleSideNav()" class="md-icon-button" aria-label="Menu">
      <i class="material-icons">menu</i>
    </md-button>
    <h3>
      <span>Home</span>
    </h3>
    <span flex></span>
  </div>
  </md-toolbar>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="side-menu-left">
      <md-toolbar class="nav-toolbar">
        <header class="nav-logo">
          <div>
            <img src="./images/Organisr-Logo.svg" alt="Organisr" class="organisr-logo"/>
            <h1 class="logo-type md-heading">Organisr</h1>
          </div>
        </header>
      </md-toolbar>
      <div class="menu-links">
        <md-button class="btns"  ng-click="closeNav()" ng-link="['Home']">
          <i class="material-icons">home</i>Home
        </md-button>
        <md-button class="btns"  ng-click="closeNav()" ng-link="['ManageSession']">
          <i class="material-icons">person_add</i>Manage Training Session
        </md-button>
        <md-button class="btns"  ng-click="closeNav()" ng-link="['MySession']">
          <i class="material-icons">directions_run</i>My Sessions
        </md-button>
        <md-button class="btns" ng-click="closeNav()" >
          <i class="material-icons">settings</i>Settings
        </md-button>
      </div>
    </md-sidenav>
  </section>
</div>
<!-- Where Partials are inserted -->
<!-- <div layout="row" layout-align="center" flex ng-view></div> -->
<ng-outlet></ng-outlet>
