<div  layout="column" layout-align="center" ng-controller="MySessions as sessions">
  <div  layout="column" ng-repeat="ev in events">
    <md-card flex="50">
      <md-card-title>
        <md-card-title-text>
          <h6 class="">{{ev.group.groupName}}</h6>
          <h2 class="md-headline">{{ev.session.title}}</h2>
          <h3 class="md-subline">{{ ev.session.date }} at {{ ev.session.time }}</h3>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>Location: {{ ev.session.venue }}, {{ ev.session.city }} </p>

        <p ng-show="session.groupSize">Group Size: {{ ev.session.groupSize }}</p>
        <!-- <p>Posted On {{ session.createdAt }}</p> -->
      </md-card-content>
    </md-card>
  </div>
</div>
