<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title%></title>
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.0/material.blue-light_blue.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="./stylesheets/styles.css" media="screen" title="base styles" charset="utf-8">
  </head>
  <body>
    <div class="mdl-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title"><%=title%></span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="">About Us</a>
          </nav>
        </div>
      </header>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet">
          <h1>Welcome to <%=title%></h1>
        </div>

        <p>
          <%=currentUser%>
        </p>
        <div class="mdl-cell mdl-cell--6-col">
        <a href="/auth/facebook" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          <span class="fa fa-facebook"></span>&nbsp;Sign up
        </a>
      </div>
      <div class="mdl-cell mdl-cell--6-col">
        <a href="./login" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          <span class="fa fa-sign-in"></span>&nbsp;Sign up
        </a>
      </div>
    </div>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script>
  </body>
</html>
