<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</head> 
<body>
  <hgroup>
    <h1>Oranisr</h1>
    <h3>training sessions made easy</h3>
  </hgroup>
  <form action="/emailSignUp" method="post">
    <div class="group">
      <input type="email" id="username" name="username"><span class="highlight"></span><span class="bar"></span>
      <label for="username">Username</label>
    </div>
    <div class="group">
      <input type="password" id="password" name="password"><span class="highlight"></span><span class="bar"></span>
      <label for="password">Password</label>
    </div>
    <div class="group">
      <input type="password" id="confirmPassword" name="confirmPassword"><span class="highlight"></span><span class="bar"></span>
      <label for="confirmPassword">Confirm Password</label>
    </div>
    <button type="submit" class="button buttonBlue">Sign Up
      <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
  </form>
</body>
</html>