<!DOCTYPE html>
<html lang="en">

  <% include ./bootstrap_partials/head %>
<body>


  <% include ./bootstrap_partials/header %>


    <!-- Header -->
    <div class="content-section-a">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>Support</h1>
            <p>
              This is page is currently a work in progress.
            </p>
            <p>
              If you've got any issues or queries feel free to contact us.
            </p>
          </div>
        </div>
      </div>
      </div>
    <!-- /.banner -->
    <% include ./bootstrap_partials/footer %>
</body>

</html>
